.myhinh {
    margin-top: 2px;
    margin-right: 2px;
    float: left;
    margin-bottom: 10px;
}
.aaa {
    float:center;
    margin-top: 5px;
    margin-left: 10px;
    text-align: justify;
}
.bbb {
    margin: auto;
}
.ccc {
    float: left;
}